@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #181818;
  --primary: #16c1bb;
  --secondary: #181818;
  --accent: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-orange: #ff5722;
  --font-sans: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}
